@model PL.MVC.IOBalanceV2.Models.RegisterModel
@{
    ViewBag.Title = "Register";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="panel panel-default col-sm-8 col-sm-offset-1 col-md-offset-2 col-md-6 login-form">

        @Html.ValidationSummary()
        <div class="panel-body">
            <section id="loginForm">

                <fieldset class="form-horizontal">
                    <h5>Create new account.</h5>
                    <hr />
                    <div class="col-sm-12">
                        <div class="form-group">
                            @Html.LabelFor(m => m.UserName, new { @class = "required" })
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control col-sm-12" })
                            <div class="text-danger">Username is required.</div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password, new { @class = "required" })
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control col-sm-12" })
                            <div class="text-danger">Password is required.</div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "required" })
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control col-sm-12" })
                            <div class="text-danger">Password doesn't match.</div>
                        </div>
                    </div>
                    <input type="submit" value="Register" class="btn btn-block btn-primary" />
                    <br />
                </fieldset>

            </section>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
