@model PL.Business.Dto.IOBalance.ProductDto

<tr>
    <td>
        <i></i>
        <span>@Model.ProductCode</span>
    </td>
    <td>
        <i></i>
        <span>@Model.ProductName</span>
    </td>
    <td>
        <i></i>
        <span>@Model.ProductDesc</span>
    </td>
    <td>
        <i></i>
        <span>@Model.ProductExtension</span>
    </td>
    <td>
        <i></i>
        <span>@Model.Quantity</span>
    </td>
    <td>
        <i></i>
        <span>@Model.Price</span>
    </td>
    <td>
        <i></i>
        <span>@Model.Size</span>
    </td>
    <td>
        <i></i>
        <span>@Model.UnitName</span>
    </td>
    <td>
        <i></i>
        <span>@Model.SupplierName</span>
    </td>
    <td>
        <i></i>
        <span>@Model.Remarks</span>
    </td>
</tr>

