@model PL.Business.Dto.IOBalance.ProductDto
@using PL.Business.Dto.IOBalance;
@using PL.MVC.IOBalance.Areas.OrderManagement.Models;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div class="pull-left">
        <span class="text-warning"><strong>Stock List</strong></span>
    </div>
    <div class="pull-right">
        <button id="searchbutton" class="btn btn-sm btn-default"
                data-action-type="searchbutton">
            <i class="glyphicon glyphicon-search"></i> Search
        </button>

        <button id="refreshbutton" class="btn btn-sm btn-default"
                data-action-type="refreshbutton"
                data-url="">
            <i class="glyphicon glyphicon-refresh"></i> Refresh
        </button>

        <button id="extractbutton" class="btn btn-sm btn-default"
                data-action-type="extractbutton"
                data-url="">
            Extract to Excel
        </button>

        <button id="newbutton" class="btn btn-sm btn-success"
                data-action-type="newbutton"
                data-url="">
            <i class="glyphicon glyphicon-plus-sign"></i> New Product
        </button>



        <button id="discardbutton" class="btn btn-sm btn-default" style="display:none;"
                data-action-type="discardbutton">
            <i class="glyphicon glyphicon-minus"></i> Discard
        </button>


        @*<button id="addinventory" class="btn btn-default" style="display:none;"
                    data-action-type="addinventory">
                <i class="glyphicon glyphicon-saved"></i> Add
            </button>*@

        <button id="savebutton" class="btn btn-sm btn-success" style="display:none;"
                data-action-type="savebutton">
            <i class="glyphicon glyphicon-plus"></i> Save Inventory
        </button>
    </div>
    <div class="clearfix"></div>
    <hr />
    

    <div id="inventory-form" style="display:none;">
        @Html.Partial(IOBALANCEMVC.OrderManagement.PurchaseOrder.Views._PurchaseOrderForm, new ProductDto())
    </div>

    <div id="inventory-update-form" style="display:none;">
        @Html.Partial(IOBALANCEMVC.OrderManagement.PurchaseOrder.Views._PurchaseOrderEditForm, new ProductDto())
    </div>

    @Html.Partial(IOBALANCEMVC.OrderManagement.PurchaseOrder.Views._ModalVoidQtyProduct, new ProductDto())

    <div id="inventory-form-update-image" style="display:none;">
        @Html.Partial(IOBALANCEMVC.OrderManagement.PurchaseOrder.Views._FormEditProductImage, new ProductDto())
    </div>

    <div id="divInventory">
        @*@Html.Partial(IOBALANCEMVC.OrderManagement.PurchaseOrder.Views._ListInventory, Model)*@
        @Html.Partial(IOBALANCEMVC.OrderManagement.PurchaseOrder.Views._ListInventoryKendo)
    </div>

    
</div>

<div id="divResultContainer" style="display:none"></div>


@section scripts{
    <script type="text/javascript">
        window.inventoryOptions = {
            inventorySaveUrl: "",
            inventoryAction: "",
            inventoryAddOrderUrl: "@Url.Action(IOBALANCEMVC.OrderManagement.PurchaseOrder.AddProduct())",
            invetnorySaveProductAndPurchaseOrderUrl: "@Url.Action(IOBALANCEMVC.OrderManagement.PurchaseOrder.SaveProductAndPurchaseOrder())",
            inventoryUpdateProductDetailsUrl: "@Url.Action(IOBALANCEMVC.OrderManagement.PurchaseOrder.UpdateProductDetails())",
            inventoryAddProductUrl: "@Url.Action(IOBALANCEMVC.OrderManagement.PurchaseOrder.AddQtyProduct())",
            inventoryVoidProductUrl: "@Url.Action(IOBALANCEMVC.OrderManagement.PurchaseOrder.VoidProductQty())",
            unitGetUrl: "@Url.Action(IOBALANCEMVC.Common.GetUnit())",
            categoryGetUrl: "@Url.Action(IOBALANCEMVC.Common.GetCategory())",
            modelGetUrl: "@Url.Action(IOBALANCEMVC.Common.GetModel())",
            supplierGetUrl: "@Url.Action(IOBALANCEMVC.Common.GetSupplier())",
            branchGetUrl: "@Url.Action(IOBALANCEMVC.Common.GetBranch())",
            extractToExcelUrl: "@Url.Action(IOBALANCEMVC.OrderManagement.PurchaseOrder.ExtractInventory())"
        };
    </script>


    <script type="text/javascript" src="@IOBALANCELINKS.Scripts.infrastructure.jquery_pl_kendo_resize_height_js"></script>
    <script type="text/javascript" src="@IOBALANCELINKS.Scripts.infrastructure.jquery_deserialize_js"></script>
    <script type="text/javascript" src="@IOBALANCELINKS.Scripts.jquery_mask_js"></script>
    <script type="text/javascript" src="@IOBALANCELINKS.Scripts.iobalance.functions.ordermanagement.ordermanagement_purchaseorder_js"></script>



}

@section modals{
    @Html.Partial(IOBALANCEMVC.OrderManagement.PurchaseOrder.Views._ModalSearchProduct, new ProductSearchModel())
    @*@Html.Partial(IOBALANCEMVC.OrderManagement.PurchaseOrder.Views._ModalAddQtyProduct, new ProductDto())*@
    
}

<link rel="stylesheet" href="@IOBALANCELINKS.Content.kendo.kendo_common_material_min_css" />
<link rel="stylesheet" href="@IOBALANCELINKS.Content.kendo.kendo_material_min_css" />