@using PL.Business.Dto.IOBalanceV2;
@using PL.MVC.IOBalanceV2.Areas.OrderManagement.Models;

@{
    ViewBag.Title = "Sales";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section modals{
    @Html.Partial(IOBALANCEMVCV2.OrderManagement.SalesOrder.Views._EditOrderList)
}


<section class="col-md-5">
    <div class="well-lg well-adjust-md">
        <div class="well-sm">
            <form class="form-horizontal" id="frmSalesOrder">
                @Html.Partial(IOBALANCEMVCV2.OrderManagement.SalesOrder.Views._DetailsSalesOrder, new SalesOrderDto())
            </form>
        </div>
        <div class="well well-sm">
            <form class="form-horizontal" id="frmSalesOrderDetail">
                @Html.Partial(IOBALANCEMVCV2.OrderManagement.SalesOrder.Views._DetailsSalesOrderDetail, new SalesOrderDetailDto())
            </form>
            <button id="btnAddSalesDetails" class="btn btn-primary btn-block" type="button">
                Add product to list
            </button>
            <button id="btnSaveSalesDetails" class="btn btn-success btn-block" type="button">
                Save sales order
            </button>
            <button id="btnSaveQueueDetails" class="btn btn-default btn-block" type="button">
                Queue sales order
            </button>

        </div>
    </div>
</section>
<section class="col-md-7" id="divList">
    <h4>
        Total:
        <span class="h2 text-danger">
            <strong id="gridTotal"></strong>
        </span>
    </h4>

    <h4>Count: <strong id="gridCount"></strong> </h4>
    @Html.Partial(IOBALANCEMVCV2.OrderManagement.SalesOrder.Views._SalesOrderList, new SalesOrderListDto())

</section>
<div id="divResultContainer" style="display:none"></div>

@section scripts{
    <script type="text/javascript">
        window.salesOrderOptions = {
            saveUrl: "@Url.Action(IOBALANCEMVCV2.OrderManagement.Inventory.SaveDetails())",
            customerUrl: "@Url.Action(IOBALANCEMVCV2.Common.GetCustomersWithoutAdmin())",
            productUrl: "@Url.Action(IOBALANCEMVCV2.Common.GetProducts())",
            saveOrderUrl: "@Url.Action(IOBALANCEMVCV2.OrderManagement.SalesOrder.SaveSalesOrder())",
            queueOrderUrl: "@Url.Action(IOBALANCEMVCV2.OrderManagement.SalesOrder.QueueSalesOrder())",
            getPriceUrl: "@Url.Action(IOBALANCEMVCV2.OrderManagement.SalesOrder.GetCustomerAndProductPrice())",
            getSalesNumUrl: "@Url.Action(IOBALANCEMVCV2.OrderManagement.SalesOrder.GetPLNum())",
            productByIdUrl: "@Url.Action(IOBALANCEMVCV2.Common.GetProductsPerProductId())",
            exportUrl: "@Url.Action(IOBALANCEMVCV2.OrderManagement.SalesOrder.GenerateReceipt())"
        };
    </script>
    <script type="text/javascript" src="@IOBALANCEV2LINKS.Scripts.iobalancev2.ordermanagement_salesorder_js"></script>
    <script type="text/javascript" src="@IOBALANCEV2LINKS.Scripts.infrastructure.jquery_deserialize_js"></script>
}

