@model List<PL.Business.Dto.IOBalance.CategoryDto>
<table id="gvCategory" class="table table-striped">
    <thead>
        <tr>
            <th data-width="100" data-field="categoryaction">Action</th>
            <th data-width="120" data-field="categorycode">Category Code</th>
            <th data-width="150" data-field="categoryname">Category Name</th>
            <th data-width="100" data-field="categoryactive">Active</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var categories in Model)
        {
            var isActivateDisplay = categories.IsActive ? "Deactivate" : "Activate";
            var isActivateValue = categories.IsActive ? false : true;
            var isActiveClass = categories.IsActive ? "btn-danger" : "btn-success";
            var isActiveYesNo = categories.IsActive ? "Yes" : "No";
            <tr>
                <td>
                    <i></i>
                    <span>
                        <a href="javascript:void(0)" type="button" class="selected"
                                data-button-type="actionbuttons"
                                data-action-type="editbutton"
                                data-category-id="@categories.CategoryID"
                                data-category-code="@categories.CategoryCode"
                                data-category-name="@categories.CategoryName">
                            Edit Details
                        </a>
                    </span>
                    |
                    <span>
                        <a href="javascript:void(0)" type="button" class="btn btn-xs selected @isActiveClass"
                           data-button-type="actionbuttons"
                           data-action-type="deletebutton"
                           data-category-id="@categories.CategoryID"
                           data-category-is-active="@isActivateValue"
                           data-url="@Url.Action(IOBALANCEMVC.AdminManagement.Category.isActiveCategory())">
                            @isActivateDisplay
                        </a>
                    </span>
                </td>
                <td>
                    <i></i>
                    <span>@categories.CategoryCode</span>
                </td>
                <td>
                    <i></i>
                    <span>@categories.CategoryName</span>
                </td>
                <td>
                    <i></i>
                    <span>@isActiveYesNo</span>
                </td>
            </tr>
        }
    </tbody>
</table>

