@using PL.Business.Dto.IOBalanceV2;
@using PL.MVC.IOBalanceV2.Areas.OrderManagement.Models;
@{
    ViewBag.Title = "Batch Upload (Inventory)";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section modals{
    
}
<div id="divList">
    <section class="panel-widget-container">
       

        <button id="downloadtemplatebutton" class="btn btn-default" data-action-type="downloadtemplatebutton">
            <i class="md md-download"></i>
            Download Excel Template
        </button>
        <div class="panel-widget-controls">
            <a href='@Url.Action(IOBALANCEMVCV2.OrderManagement.Inventory.Index())'>Inventory</a>
        </div>
    </section>

    <div>
        @Html.Partial(IOBALANCEMVCV2.OrderManagement.Inventory.Views._BatchUpload)

    </div>
</div>

<div id="divResultContainer" style="display:none"></div>

@section scripts{
    <script type="text/javascript">
        window.batchInventoryOptions = {
            templateUrl: '@IOBALANCEV2LINKS.Content.excel.templates.BatchInventoryTemplate_xlsx',
            exportUrl : '@Url.Action(IOBALANCEMVCV2.OrderManagement.Inventory.ExportBatchUploaded())'
        };
    </script>

    <script type="text/javascript" src="@IOBALANCEV2LINKS.Scripts.iobalancev2.ordermanagement_batchinventory_js"></script>
    <script type="text/javascript" src="@IOBALANCEV2LINKS.Scripts.infrastructure.jquery_deserialize_js"></script>
}