@using PL.Business.Dto.IOBalanceV2;
@using PL.MVC.IOBalanceV2.Areas.OrderManagement.Models;
@{
    ViewBag.Title = "Inventory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section modals{
    @Html.Partial(IOBALANCEMVCV2.OrderManagement.Inventory.Views._Edit, new EditProductDto())
    @Html.Partial(IOBALANCEMVCV2.OrderManagement.Inventory.Views._EditQty, new EditQtyProductDto())
    @Html.Partial(IOBALANCEMVCV2.OrderManagement.Inventory.Views._Search, new InventorySearchModel())
}


<div id="new-form" style="display:none;">
    @Html.Partial(IOBALANCEMVCV2.OrderManagement.Inventory.Views._New, new ProductDto())
</div>
<div id="divList">
    <section class="panel-widget-container">
        <div class="panel-widget-search hide">
            <div class="input-group">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default">
                        <i class="md md-search"></i> Search
                    </button>
                </span>
                <input type="text" class="form-control" placeholder="Type product name here..." value="" />
            </div>
        </div>
        <button id="searchbutton" class="btn btn-default btn-filter" data-action-type="searchbutton">
            <i class="md md-filter-list"></i>
            Filter
        </button>
        <div class="panel-widget-controls">
            <button id="refreshbutton" class="btn btn-default"
                    data-action-type="refreshbutton">
                <i class="md md-refresh"></i> Refresh
            </button>

            <button id="btnnewform" class="btn  btn-success">
                <i class="md md-plus"></i> New Product
            </button>
        </div>
    </section>
    @Html.Partial(IOBALANCEMVCV2.OrderManagement.Inventory.Views._List)
</div>

<div id="divResultContainer" style="display:none"></div>


@section scripts{
    <script type="text/javascript">
        window.orderOptions = {
            saveUrl: "@Url.Action(IOBALANCEMVCV2.OrderManagement.Inventory.SaveDetails())",
            updateUrl: "@Url.Action(IOBALANCEMVCV2.OrderManagement.Inventory.UpdateDetails())",
            updateQtyUrl: "@Url.Action(IOBALANCEMVCV2.OrderManagement.Inventory.UpdateQtyDetails())",
            categoriesUrl: "@Url.Action(IOBALANCEMVCV2.Common.GetCategories())",
            quanityUnitUrl: "@Url.Action(IOBALANCEMVCV2.Common.GetQuantityUnit())",
            supplierUrl: "@Url.Action(IOBALANCEMVCV2.Common.GetSupplier())",
            qtyTypeUrl: '@Url.Action(IOBALANCEMVCV2.Common.GetEditProductEditType())',
            productAutoCompleteUrl: '@Url.Action(IOBALANCEMVCV2.Common.GetProducts())'
        };
    </script>

    <script type="text/javascript" src="@IOBALANCEV2LINKS.Scripts.iobalancev2.ordermanagement_inventory_js"></script>
    <script type="text/javascript" src="@IOBALANCEV2LINKS.Scripts.infrastructure.jquery_deserialize_js"></script>
}