<!DOCTYPE html>
<html lang="en" ng-app="CSINVENTORY">
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <div class="content-wrapper">
            <div class="float-left">
                <p class="site-title">@Html.ActionLink("your logo here", "Index", "Inventory")</p>
            </div>
            <div class="float-right">
                <section id="login">
                    @Html.Partial("_LoginPartial")
                </section>
                <nav>
                    <ul id="menu">
                        <li>@Html.ActionLink("Dashboard","Index","Inventory")</li>
                        <li><a href="#/customer">Customer</a></li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <div id="body">
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
            </div>
        </div>
    </footer>

    <script src="~/Scripts/angular-bundle.min.js"></script>
    <script src="~/angular-app/csinventory/route-config.js"></script>

    <!--Customer-->
    <script src="~/angular-app/csinventory/customer/services/customer-service.js"></script>
    <script src="~/angular-app/csinventory/customer/controllers/customer-controller.js"></script>
</body>
</html>
