@model PL.Business.Dto.IOBalanceV2.SalesOrderDetailDto

<div class="form-group">
    <label for="" class="control-label col-lg-3 required">Product</label>
    <div class="control-input col-lg-9">
        <input id="ProductId" style="width:100%" name="ProductId" />
        <small id="currProdQty"></small>
        @Html.ValidationMessageFor(m => m.ProductId, "", new { @class = "error" })
    </div>
</div>
<div class="form-group">
    <label for="" class="control-label col-lg-3 required">Quantity</label>
    <div class="control-input col-lg-9">
        @Html.TextBoxFor(m => m.Quantity,
        new
        {
            @class = "form-control",
            @id = "Quantity",
            @type = "number"
        })
        @Html.ValidationMessageFor(m => m.Quantity, "", new { @class = "error" })
    </div>
</div>
<div class="form-group">
    <label for="" class="control-label col-lg-3 required">Price</label>
    <div class="control-input col-lg-9">
        @Html.TextBoxFor(m => m.SalesPrice,
        new
        {
            @class = "form-control",
            @id = "SalesPrice",
            @type = "number"
        })
        @Html.ValidationMessageFor(m => m.SalesPrice, "", new { @class = "error" })
    </div>
</div>