@using PL.Business.Dto.IOBalanceV2;
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section modals{
    @Html.Partial(IOBALANCEMVCV2.Home.Views._EditOrderList)
}
<div class="col-md-10 col-md-offset-1" id="divListQueue">
    <div class="panel panel-default ">
        <div class="panel-heading">
            <label class="text-uppercase">Queue Order</label>
        </div>
        <div class="panel-body">
            @Html.Partial(IOBALANCEMVCV2.Home.Views._QueueOrderList)
        </div>
    </div>

</div>

<section class="col-md-5" id="divBtnList" style="display:none;">
    <div class="well-lg">
        <div class="well-sm">
            <form class="form-horizontal" id="frmSalesOrder">
                @Html.Partial(IOBALANCEMVCV2.Home.Views._DetailsSalesOrder, new SalesOrderDto())
            </form>
        </div>
        <div class="well well-sm">
            <form class="form-horizontal" id="frmSalesOrderDetail">
                @Html.Partial(IOBALANCEMVCV2.Home.Views._DetailsSalesOrderDetail, new SalesOrderDetailDto())
            </form>
            <button id="btnAddSalesDetails" class="btn btn-primary btn-block" type="button">
                Add to product list
            </button>
            <button id="btnSaveSalesDetails" class="btn btn-success btn-block" type="button">
                Save sales order
            </button>
            <button id="btnSaveQueueDetails" class="btn  btn-default btn-block" type="button">
                Queue sales order
            </button>
            <button id="btnDiscard" class="btn btn-transparent btn-block" type="button">
                Back
            </button>
        </div>
    </div>
</section>


<section class="col-md-7" id="divListQueueOrderDetail" style="display:none;">
    <h4>Total: </h4>
    <h5 id="gridTotal"></h5>
    <h4>Count: </h4><h5 id="gridCount"></h5>
    @Html.Partial(IOBALANCEMVCV2.Home.Views._SalesOrderList)
</section>

<div id="divResultContainer" style="display:none"></div>

@section scripts{
    <script type="text/javascript">
        window.queueOptions = {
            getOrderAndOrderDetailsUrl: '@Url.Action(IOBALANCEMVCV2.Home.GetOrderAndOrderDetails())',
            productUrl: "@Url.Action(IOBALANCEMVCV2.Common.GetProducts())",
            productByIdUrl: "@Url.Action(IOBALANCEMVCV2.Common.GetProductsPerProductId())",
            getPriceUrl: "@Url.Action(IOBALANCEMVCV2.OrderManagement.SalesOrder.GetCustomerAndProductPrice())",
            saveOrderUrl: "@Url.Action(IOBALANCEMVCV2.Home.SaveSalesOrder())",
            queueOrderUrl: '@Url.Action(IOBALANCEMVCV2.Home.QueueSalesOrder())'
        }
    </script>
    <script type="text/javascript" src="@IOBALANCEV2LINKS.Scripts.iobalancev2.home_ordermanagement_queueorder_js"></script>
    <script type="text/javascript" src="@IOBALANCEV2LINKS.Scripts.infrastructure.jquery_deserialize_js"></script>
}